

*{
    padding: 2px;
    margin: 4px;
    box-sizing: border-box;
    background-color: #B8F1B0;
    border: 15em;
}

header{
    background-color: #B8F1B0;
    background-size: cover;
    box-sizing: content-box;
    background-position-y: top;
    padding: 0;
    border: 0;
    margin: 0%;
}

hr{
    background-color: #B8F1B0;
    width: 70%;
    height: 0.5px;
}



h1{
    font-family: 'Alfa Slab One', serif;
    color: #C70039;
    font-size: 45px;
    font-weight: 200;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: visible;
}


h5{
    color: #662549;
    font-size: 30px;
    font-family: 'Unna', serif;
    font-weight: 650;
}

h3{
    font-family: 'Unna', serif;
    font-size: 40px;
    color: #662549;
    font-weight: 850;

}

#italic{
    font-family: 'Macondo', cursive;
    font-size: 1px;
    color: #C70A80;
    font-weight: 100;
}

.italic{
    font-family: 'Macondo', cursive;
    font-size: 25px;
    color: #C70A80;
    font-weight: 750;
}

p{
    font-family: 'Unna', serif;
    font-size: 20px;
    color: #590696;
    font-weight: 650;
}

b{
    
}

footer{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: #15133C;
    font-weight: 700;
}

.bold{
    font-weight: 800;
    /* color :#2F3832; */
    font-size: 20px;
    color: #FF4949;
    }